.cardInformation {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cardInformation:hover {
  border-color: #007bff; /* синий акцент */
  background-color: #f0f8ff; /* легкий голубой фон */
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
  transform: translateY(-2px);
}
